{{!-- Just some plain text --}}

<h1>Recipes database</h1>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="main.css">

{{!-- The Data from our Database --}}
<header>
    <nav class='global'>
        <a href='/'> Home Page | </a>
        <a href='/recipes'> Recipes </a>
        <a href='/categories'> Categories | </a>
        <a href='/ingredients'> Ingredients | </a>
        <a href='/cookTimes'> Cook Times</a>
    </nav>
</header>
<br />
<br />

{{!-- Create a table --}}
<table id="cookTimes-table">
    <table border="1">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>delete</th>
            </tr>
        </thead>


        {{!-- Body section --}}
        <tbody>

            {{#each data}}
            <tr>
                <td>{{this.cookTimeID}}</td>
                <td>{{this.time}}</td>
                <td><button onclick="deleteCookTimes({{this.cookTimeID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script src="./js/delete_cookTimes.js"></script>

    <h2>Adding Data </h2>
    <p>To add a new cooking time, please enter the time and click `Submit`!</p>
    <form id="add-cookTimes-form" method="POST" action="/add-cookTimes-form">
        <label for="input-time">time: </label>
        <input type="text" name="input-time" id="input-time"> <br />
        <button type="submit">Submit</button>
    </form>

    <form id="update-cookTimes-form-ajax">
        <legend>
            <h2>Update cooking times</h2>
        </legend>
        <fieldset class="fields">
            <label> cook time ID: </label>
            <select name="update-cookTimeID" id="mySelect">
                <option value="test">Select a cookTime ID</option>
                {{#each data}}
                <option value="{{this.cookTimeID}}">{{this.cookTimeID}}</option>
                {{/each}}
            </select>
            <label> time </label> <input type="text" id="update-time">
        </fieldset>

        <input class="btn" type="submit" id="updateSaveCookTimes" value="Update CookTimes">

    </form>


    <script src="./js/update_cookTimes.js"></script>